@model QTHT.Models.View.DeviceModel
@{
    var listDevice = Model.Devices;
}
<div class="table-responsive over_auto">
    <table id="StationConfig" class="table table-bordered table-hover table-striped dataTable" role="grid" aria-describedby="searchable_info">
        <thead>
            <tr role="row">
                <th class="wpx60 center" tabindex="0">STT</th>
                <th class="wpx60 center" tabindex="0">
                    <label>
                        <input class="group-checkable" type="checkbox" />
                        <span class="text"></span>
                    </label>
                </th>
                <th class="wpx250 " tabindex="0">Mã máy bơm</th>
                <th class="wpx250" tabindex="0" aria-controls="searchable">Mã điều khiển</th>
                <th class="wauto" tabindex="0" aria-controls="searchable">Trạng thái</th>
                <th class="wauto" tabindex="0" aria-controls="searchable">Ngày tạo</th>
                <th class="wauto" tabindex="0" aria-controls="searchable">Sửa lần cuối</th>
                <th class="wpx150 txtct" tabindex="0" aria-controls="searchable">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @{
                var stt = 0;
                foreach (var item in listDevice)
                {
                    stt++;
                    <tr role="row">
                        <td class="sorting_1 center">@stt</td>
                        <td class="sorting_1 center">
                            <label>
                                <input data-id="@item.ID" class="checkboxes" type="checkbox" />
                                <span class="text"></span>
                            </label>
                        </td>
                        <td>@item.Name</td>
                        <td>@item.ESP8266ID</td>
                        <td>@{
                                if (item.Status == null)
                                {
                                    @("Không xác định");
                                }
                                else if(item.Status == false)
                                {
                                    @("Không hoạt động")
                                    ;
                                }
                                else
                                {
                                    @("Đang hoạt động")
                                }
                            }
                        </td>
                        <td>@item.Created</td>
                        <td>@item.Updated</td>
                        <td class="d-flex flex-row justify-content-around">
                            
                            <a href="/Sensor/Index/@item.ID" class="btn btn-warning btn-xs">
                                <i class="fa fa-gear" aria-hidden="true"></i>
                            </a>
                            <button type="button" class="btn btn-info btn-xs edit quickUpdate" data-toggle="ajax-modal" data-target="@("editDevice-"+item.ID)" data-url="@Url.Action("Edit")/@item.ID">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs quickDelete" data-toggle="ajax-modal" data-target="@("deleteDevice-"+item.ID)" data-url="@Url.Action("Delete")/@item.ID">
                            <i class="fa fa-trash-o"></i>
                            </button>
                            
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>